annotated-types
anyio
asgiref
bcrypt
bidict
blinker
Brotli
certifi
channels
charset-normalize
click
colorama
distlib
dj-database-url
Django
dnspython
email-validator
fastapi
filelock
Flask
Flask-Bcrypt
Flask-Login
Flask-SocketIO
Flask-SQLAlchemy
Flask-WTF
greenlet
gunicorn
h11
idna
itsdangerous
Jinja2
MarkupSafe
motor
mysql
mysqlclient
packaging
Pillow
pipenv
platformdirs
playsound
psycopg2-binary
py-edamam
pydantic
pydantic_core
python-dotenv
python-engineio
requests
sniffio
SQLAlchemy
sqlparse
starlette
typing_extensions
tzdata
urllib3
uvicorn
virtualenv
Werkzeug
WTForms
