annotated-types
anyio
asgiref
bcrypt
bidict
blinker
click
colorama
distlib
dj-database-url
Django
dnspython
email-validator
filelock
greenlet
gunicorn
h11
idna
itsdangerous
Jinja2
MarkupSafe
motor
packaging
Pillow
pipenv
platformdirs
psycopg2-binary
py-edamam
python-dotenv
python-engineio
requests
sniffio
SQLAlchemy
sqlparse
starlette
typing_extensions
tzdata
urllib3
uvicorn
virtualenv
Werkzeug
WTForms
